<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Italic-VariableFont_opsz,wght.ttf</string>
		<string>Inter-VariableFont_opsz,wght.ttf</string>
	</array>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>BUNDLE_ID</key>
	<string>casperbroe.IntelligentHealthCoach</string>
<key>CFBundleURLTypes</key>
<array>
    <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
            <string>com.googleusercontent.apps.536943105321-rsdiu0bqvc2sn4mh6e7tauiv5kl16hmk</string>
        </array>
    </dict>
</array>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>CLIENT_ID</key>
	<string>536943105321-rsdiu0bqvc2sn4mh6e7tauiv5kl16hmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536943105321-rsdiu0bqvc2sn4mh6e7tauiv5kl16hmk</string>
</dict>
</plist>
